$app-black: #0f0f0f;
$app-white: #ffffff;
$orange-1: #e6ccb3;
$orange-2: #fff5e6;
$orange-3: #1d661d;
$gray-1: #f2f2f2;
$gray-2: #cdcdcd;
$gray-3: #f0f0f0;
$gray-4: #d4d4d9;
$gray-5: #b0b0b0;
$gray-6: #B4B6B9;
$gray-7: #f3f3f3;
$blue-1: #d3e8fd;
$blue-2: #486271;
$blue-3:#B5BEC3;
$blue-4: #0000ff;
$yellow-1: #fef984;
$yellow-2: #fcfacb;
$yellow-3: #f5f0e6;
$yellow-4: #d8cdb7;
$purple-1: #002699;
$purple-2: #00000F;
$green-1: #666666;
$bg-confirm: #efefef;
$boder-btn-dialog: #e0e0e0;
$backround-disabled: #e0e0e0;
$color-disabled: #BCBCBC;
$red-1: #ff3d00;

$app-padding : 5px;
$app-margin: 5px;
$app-border: 1px solid $gray-6;

$font-size: 14px;